$primary-color: steelblue;
$secondary-color: #555;
$highlight-color: purple;
$primary-fc: black;
$secondary-fc: white;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// General layout

body {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100lvh;
}

header {
  background-color: $secondary-color;
  color: $secondary-fc;
  text-align: center;
  padding: 0.5em 0;
}

footer {
  background-color: $secondary-color;
  padding: 0.25em 0;

  a {
    color: $secondary-fc;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg {
    margin-left: 0.5em;
    max-width: 1.5em;
    fill: $secondary-fc;
  }
}

// Game view

section {
  margin-top: 2em;

  h2 {
    font-size: 1.25rem;
    text-align: center;
  }
}

.board {
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-template: repeat(11, minmax(30px, 1fr)) / repeat(11, minmax(30px, 1fr));
  aspect-ratio: 1 / 1;
  max-height: calc((100svh - 10em) / 2);

  .label {
    display: grid;
    place-content: center;
  }

  .cell {
    border: 1px solid $secondary-color;

    &.ship {
      background-color: $primary-color;
    }
  }
}